@model vueproject.Models.Invoice

<html>
<head>
    <meta charset="utf-8">
    <title>@Model.InvoiceTypeToSend @Model.Id</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    /*.invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }*/

    @*@media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }*@

    /** RTL **/
    /*.rtl {
        direction: rtl;
        font-family: Tahoma, 'Roboto', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }*/
    </style>
</head>

<body>
    <div class="invoice-box">
        @*<table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                                </td>

                                <td>
                                    <b>Faktura</b> #546<br>
                                    Fakturadatum 2020 - 02 - 14<br>
                                    Fakturadatum 2020 - 02 - 14<br>
                                    Vår referens: Sorin Marin
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Kundnummer 15<br>
                                    Betalningsvillkor 30 dagar<br>
                                    Dröjsmålsränta 10%<br>
                                    Leveransdatum 2020 - 02 - 14<br>
                                </td>

                                <td>
                                    Fakturaadress<br>
                                    Pizzahuset Spetsamossen<br>
                                    Ringbergsvägen 7<br>
                                    35233 Växjö<br>
                                    Sverige
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>*@


        <table class="table">
            <tbody>
                <tr>

                    <td class="title">
                       @*add user image here*@
                        @*<img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">*@
                    </td>

                    <td style="text-align: left;">
                        <h3><b>Faktura</b></h3><br>
                        Fakturanummer @if (Model.Id == 0)
                        {<p>#1</p>}
                        else
                        {
                            <p>#@Model.Id</p>}<br>
                        Fakturadatum @Model.InvoiceDate<br>
                        Fakturadatum @Model.InvoicePayDate<br>
                        Vår referens: @Model.SenderName
                    </td>
                </tr>
                <tr>
                    <td>
                        Kundnummer @Model.ReceiverCustomerId<br>
                        Betalningsvillkor @Model.PaymentTerms<br>
                        Dröjsmålsränta @Model.InvoicecPastDuePercentageFee<br>
                        Leveransdatum @Model.DeliveryDate<br>
                        Er referens: @Model.ReceiverReferenceName
                    </td>

                    <td style="text-align: left;">
                        Fakturaadress<br>
                        @Model.CustomerName<br>
                        @Model.CustomerInvoiceAddress<br>
                        @Model.CustomerZipCode @Model.CustomerCity<br>
                        @Model.CustomerCountry
                    </td>
                </tr>
            </tbody>
        </table>

        <p>@Model.InvoiceMessageText</p>

        <div class="container">
            <table class="table">
                <thead>
                    <tr style="text-align:left;">
                        <th scope="col">Artnr</th>
                        <th scope="col">Produkt/tjänst</th>
                        <th scope="col">Antal enheter</th>
                        <th scope="col">A-pris</th>
                        <th scope="col">Summa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.InvoiceProducts)
                    {
                        <tr>
                            <th scope="row" style="text-align:left;">@p.ArticleNumber</th>
                            <td style="text-align:left;">@p.Name</td>
                            <td>@p.Quantity</td>
                            <td>@p.Price kr</td>
                            <td>
                                @{
                                    var price = @p.Price;
                                    var quantity = @p.Quantity;
                                    var sum = @p.Quantity * @p.Price;
                                }
                                @sum kr
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



    <div class="container fixed-bottom">
        <table class="table">
            <thead>
                <tr style="text-align:left;">
                    <th scope="col">Frakt</th>
                    <th scope="col">Fakt.avgift</th>
                    <th scope="col">Påminnelseavgift</th>
                    <th scope="col">Exkl. moms</th>
                    <th scope="col">Moms 25%</th>
                    <th scope="col">Öresavr</th>
                    <th scope="col">Att betala</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:left;">@Model.DeliveryFee kr</td>
                    <td style="text-align:left;">@Model.InvoiceFee kr</td>
                    <td style="text-align:left;">@Model.OptionalReminderFee kr</td>
                    <td style="text-align:left;">@Model.TotalCostWithoutTax kr</td>
                    <td style="text-align:left;">@Model.Tax kr</td>
                    <td style="text-align:left;">@Model.DecimalRoundUp kr</td>
                    <td style="text-align:left;"><b>@Model.TotalCost kr </b></td>
                </tr>
            </tbody>
        </table>

        <table class="table">

            <tbody>
                <tr>
                    <td style="text-align:left;">
                        Adress <br />
                        @Model.SenderName <br />
                        @Model.UserInvoiceAddress <br />
                        @Model.UserZipCode @Model.UserCity <br />
                        @Model.UserCountry

                    </td>
                    <td style="text-align:left;">
                        Telefon <br />
                        @Model.UserPhoneNumber <br />
                        @Model.UserFax<br />
                        @Model.EmailFrom
                    </td>
                    <td style="text-align:left;">
                        Plusgiro <br />
                        @Model.UserPlusGiro <br />
                        Bankgiro<br />
                        @Model.UserBankGiro <br />
                    </td>
                    <td style="text-align:left;">
                        Organisationsnr <br />
                        @Model.UserOrgNr <br />
                        Momsreg.nr <br />
                        @Model.UserMomsRegNr
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</body>
</html>